<div class="card mb-3" id="cards">
  <h1>Hard & Soft Skills</h1>
  <div class="conteiner" id="botonDelete">
    <i class="bi bi-plus-square"></i>
  </div>
  <li *ngFor="let habilidad of habilidadesList" id="listas">
    <div class="row g-0">
       <div class="card-body">
        <h5 class="card-title">{{habilidad.habilidad}}</h5>
         <div class="conteiner"  id="botonesEdit">
           <i class="bi bi-pencil"></i>
           <i class="bi bi-x"></i>
        </div> 
        <div class="progress">
          <div class="progress-bar progress-bar-striped" 
            role="progressbar" 
            [style]="habilidad.porcentageBarra"
            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
          >{{habilidad.porcentage}}%</div>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </li>
</div>
