<header>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <img class= "navbar-brand"src="..\..\..\assets\img\APLogo-20-20.png" id="logoAP">
        <div class="d-flex" id="">
          <a href="https://instagram.com"><i class="bi bi-instagram" id="icono"></i></a>
          <a href="https://twitter.com"><i class="bi bi-twitter" id="icono"></i></a>
          <a href="https://github.com"><i class="bi bi-github" id="icono"></i></a>
            
        </div>
      </div>
    </nav>
</header>
