<div class="card mb-3" id="cards">
    <h1>Educacion</h1>
    <div class="conteiner" id="botonDelete">
      <i class="bi bi-plus-square"></i>
    </div>
    <div class="row g-0">
      <div class="col-md-2">
        <img src="../../../assets/img/placeholderEjemplo.png" class="img-fluid rounded-start" alt="..." id="logos">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h3 class="card-title">Nombre de la Institucion</h3>
          <div class="conteiner"  id="botonesEdit">
            <i class="bi bi-pencil"></i>
            <i class="bi bi-x"></i>
          </div> 
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia ipsa ullam dolore! Laboriosam modi ullam corrupti earum deserunt ratione explicabo quis, dicta reprehenderit ad aliquam excepturi deleniti quos nulla voluptates.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
