<div class="card mb-3" id="cards">
    <h1>Experiencia </h1>
    <div class="conteiner" id="botonDelete">
      <i class="bi bi-plus-square"></i>
    </div>
    <div class="row g-0">
      <div class="col-md-2">
        <img src="../../../assets/img/placeholderEjemplo.png" class="img-fluid rounded-start" alt="..." id="logos">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h3 class="card-title">Nombre de la Empresa</h3>
          <div class="conteiner" id="botonesEdit">
            <i class="bi bi-pencil"></i>
            <i class="bi bi-x"></i>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro dolorum temporibus molestias quos fugit recusandae est sequi deleniti exercitationem fugiat obcaecati, unde a esse et delectus! Labore, nulla doloribus.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
          <div class="row g-0">
      <div class="col-md-2">
        <img src="../../../assets/img/placeholderEjemplo.png" class="img-fluid rounded-start" alt="..." id="logos">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h3 class="card-title">Nombre de la Empresa</h3>
          <div class="conteiner"  id="botonesEdit">
            <i class="bi bi-pencil"></i>
            <i class="bi bi-x"></i>
          </div> 
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro dolorum temporibus molestias quos fugit recusandae est sequi deleniti exercitationem fugiat obcaecati, unde a esse et delectus! Labore, nulla doloribus.
            
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

  </div>