<div class="conteiner-fluid">
    <div class="card mb-3">
      <img src="../../../assets/img/fondoAzul.png" class="card-img-top" alt="...">
      <img src="../../../assets/img/placeholderEjemplo.png" class="rounded float-start" id="fotoPerfil" alt="...">
      <div class="card-body">
        <div class="conteiner-fuid">
          <h5 class="d-inline card-title">Nombre Apellido</h5>
          <button type="button" class="d-inline btn btn-primary" id="login">Login</button>
        </div>
        <p class="card-text">descripcion del sujeto en cuestion</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>  
  </div>
