<div class="exp">
    <div class="row g-0">
        <div class="col-md-2">
          <img src="../../../assets/img/placeholderEjemplo.png" class="img-fluid rounded-start" alt="..." id="logos">
        </div>
        <div class="col-md-10">
          <div class="card-body ">
            <h2 class="card-title d-inline">Nombre de la Empresa</h2>
            <div class="conteiner d-inline" id="botonesEdit">
                <fa-icon 
                [icon]="faPencil"
                class="iconsEdit"
                             
            ></fa-icon>
                <fa-icon 
                [icon]="faTimes"
                class="iconsEdit"
                 
            ></fa-icon>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro dolorum temporibus molestias quos fugit recusandae est sequi deleniti exercitationem fugiat obcaecati, unde a esse et delectus! Labore, nulla doloribus.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    </div>
</div>
