<li *ngFor="let experiencia of experienciaList" id="listas">
  <div class="row g-0">
    <div class="col-md-2">
      <img 
      [src]="experiencia.img"
      class="img-fluid rounded-start" alt="..." id="logos">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h3 class="card-title">{{experiencia.company}}</h3>
        <div class="conteiner" id="botonesEdit">
          <i class="bi bi-pencil"></i>
          <i class="bi bi-x"></i>
        </div>
        <p class="card-text">{{experiencia.position}}</p>
        <p class="card-text"><time class="text-muted">{{experiencia.start}}</time>  -  <time class="text-muted">{{experiencia.end}}</time> </p>
      </div>
    </div>
  </div>
</li>